
# Directories
.docker/contexts/*
.httpie/sessions/
.docker/scan/*
.ssh/keys/
*/enabled/
custom/*
.gem/
.aws/
.atom/

# File types

*.swp
.*.un~

# Specific files
completion/custom.completion.bash
aliases/custom.aliases.bash
plugins/custom.plugins.bash
lib/custom.bash
.docker/config.json
.atom-build.json
.DS_Store
.rvmrc
.idea
bats

# Don't ignore
!custom/example.bash
!.aws/credentials.example
!.aws/config.example
!.aws/scripts/
!.aws/shell/awsshellrc
!.atom/apm-package-list.txt
!.atom/.apmrc
!.atom/config.cson
!.atom/github.cson
!.atom/keymap.cson
!.atom/projects.cson
!.atom/snippets.cson
!.atom/.apm/.apmrc
.config/Battle.net/Telemetry/InstallationId
.config/iterm2/AppSupport
.local/share/.vivaldi_reporting_data
.npm/_cacache/*
.npm/_logs/*
.npm/_update-notifier-last-checked
.nvm/.cache/*
.nvm/alias/*
.nvm/versions/*
.vim/bundle/*
.nvm/nvm.sh
.nvm/nvm-exec
