[submodule ".pygments/solarized-dark-pygments"]
	path = .pygments/solarized-dark-pygments
	url = https://github.com/gthank/solarized-dark-pygments
[submodule "hashivim/vim-terraform"]
	path = hashivim/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "gmarik/Vundle.vim"]
	path = gmarik/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "mileszs/ack.vim"]
	path = mileszs/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "ctrlpvim/ctrlp.vim"]
	path = ctrlpvim/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "tpope/vim-surround"]
	path = tpope/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "tpope/vim-commentary"]
	path = tpope/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "tpope/vim-repeat"]
	path = tpope/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "plasticboy/vim-markdown"]
	path = plasticboy/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "altercation/vim-colors-solarized"]
	path = altercation/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim-airline/vim-airline"]
	path = vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "scrooloose/syntastic"]
	path = scrooloose/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/hashivim/vim-terraform"]
	path = .vim/bundle/hashivim/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".vim/bundle/gmarik/Vundle.vim"]
	path = .vim/bundle/gmarik/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule ".vim/bundle/mileszs/ack.vim"]
	path = .vim/bundle/mileszs/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/ctrlpvim/ctrlp.vim"]
	path = .vim/bundle/ctrlpvim/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/tpope/vim-surround"]
	path = .vim/bundle/tpope/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tpope/vim-commentary"]
	path = .vim/bundle/tpope/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/tpope/vim-repeat"]
	path = .vim/bundle/tpope/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/plasticboy/vim-markdown"]
	path = .vim/bundle/plasticboy/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/bundle/altercation/vim-colors-solarized"]
	path = .vim/bundle/altercation/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
