
# Directories
.config/configstore/
.vim/bundle/*
.ssh/keys/
*/enabled/
custom/*
.docker/
.httpie/
.gem/
.aws/
.atom/
.npm/
.ssh/
.nvm/


# File types

*.swp
.*.un~

# Specific files
.config/Battle.net/Telemetry/InstallationId
.local/share/.vivaldi_reporting_data
completion/custom.completion.bash
aliases/custom.aliases.bash
plugins/custom.plugins.bash
.config/iterm2/AppSupport
.docker/.buildNodeID
.docker/config.json
.ssh/known_hosts*
.docker/.token*
.atom-build.json
lib/custom.bash
.DS_Store
.rvmrc
.npmrc
.idea
git
bats

# Don't ignore
!custom/example.bash
!.aws/credentials.example
!.aws/config.example
!.aws/scripts/
!.aws/shell/awsshellrc
!.atom/apm-package-list.txt
!.atom/.apmrc
!.atom/config.cson
!.atom/github.cson
!.atom/keymap.cson
!.atom/projects.cson
!.atom/snippets.cson
!.atom/.apm/.apmrc
!.nvm/.npmrc
!.nvm/alias/
!.ssh/config
