[core]
	excludesfile = /Users/mbattiston/.gitignore_global
	editor = atom --wait

[commit]
	template = /Users/mbattiston/.gitCommitMessage

[diff]
	renames = true

[user]
	name = mikey
	email = mikeydevops@gmail.com

[credential "https://github.com"]
	helper = osxkeychain

[credential "http://bitbucket.org"]
	helper = osxkeychain

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Users/mbattiston/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = main
