#
#--------Cross Account Profile--------#
#
# [profile example-cross-account-role]
# output = json
# region = ap-southeast-2
#
# [profile example-cross-account-saml]
# role_arn = arn:aws:iam::111111111111:role/CrossAccountAdmin
# mfa_serial = arn:aws:iam::000000000000:mfa/user.name
# source_profile = example-central-auth
# credential_process = "aws-google-auth -I 0AbCdEfG -S 901234567890 -u mikey@mail.battston.biz -d 28800 -k"
# output = json
# region = ap-southeast-2
#
# [profile example-cross-account-credentials]
# role_arn = arn:aws:iam::111111111111:role/CrossAccountAdmin
# mfa_serial = arn:aws:iam::000000000000:mfa/user.name
# source_profile = example-central-auth
# output = json
# region = ap-southeast-2

#-----------Client Profile------------#

# [profile client-environment-*]
# output = json
# region = ap-southeast-2

#-----------Personal Profile----------#

# [profile personal-*]
# output = json
# region = ap-southeast-2

#------------Other Examples-----------#
# arn:aws:iam::000000000000:saml-provider/GoogleApps
# https://signin.aws.amazon.com/switchrole?account=111111111111&roleName=SomeRole&displayName=SomeDisplayName
